<template>

  <div
    v-if="products && products.length"
    class="checkout-items"
  >
    <b-card
      v-for="product in products"
      :key="product._productId"
      class="ecommerce-card"
      no-body
    >

      <!-- Product Image -->
      <div class="item-img">
        <b-link>
          <b-img
            :src="getProductById(product._productId).image"
            :alt="`${product.name}-${product._productId}`"
          />
        </b-link>
      </div>

      <!-- Product Details: Card Body -->
      <b-card-body>
        <div class="item-name">
          <h6 class="mb-0">
            <b-link class="text-body">
              {{ getProductById(product._productId).name }}
            </b-link>
          </h6>
          <span class="item-company">By <b-link class="company-name">{{ getProductById(product._productId).brand }}</b-link></span>
          <div class="item-rating">
            <ul class="unstyled-list list-inline">
              <li
                v-for="star in 5"
                :key="star"
                class="ratings-list-item"
                :class="{'ml-25': star-1}"
              >
                <feather-icon
                  icon="StarIcon"
                  size="16"
                  :class="[{'fill-current': star <= getProductById(product._productId).rating}, star <= getProductById(product._productId).rating ? 'text-warning' : 'text-muted']"
                />
              </li>
            </ul>
          </div>
        </div>
        <span class="text-success mb-1">In Stock</span>
        <!-- <div class="item-quantity">
          <span class="quantity-title">Qty:</span>
          <b-form-spinbutton
            v-model="getProductById(product._productId).qty"
            size="sm"
            class="ml-75"
            inline
          />
        </div> -->
        <span class="delivery-date text-muted">Delivery by {{ formatDate(new Date(), { month: 'short', day: 'numeric', weekday: 'short' }) }}</span>
        <span class="text-success">10% off on this product</span>
      </b-card-body>

      <!-- Product Options/Actions -->
      <div class="item-options text-center">
        <div class="item-wrapper">
          <div class="item-cost">
            <h4 class="item-price">
              ${{ getProductById(product._productId).price }}
            </h4>
            <p
              v-if="getProductById(product._productId).hasFreeShipping"
              class="card-text shipping"
            >
              <b-badge
                pill
                variant="light-success"
              >
                Free Shipping
              </b-badge>
            </p>
          </div>
        </div>
        <b-button
          variant="light"
          class="mt-1 remove-wishlist"
          @click="removeProductFromCartClick(product._id)"
        >
          <feather-icon
            icon="XIcon"
            class="mr-50"
          />
          <span>Remove from Cart</span>
        </b-button>
        <!-- <b-button
          variant="primary"
          class="btn-cart move-cart"
          @click="toggleProductInWishlist(getProductById(product._productId))"
        >
          <feather-icon
            icon="HeartIcon"
            class="mr-50"
            :class="{'fill-current': getProductById(product._productId).isInWishlist}"
          />
          <span class="text-nowrap">Wishlist</span>
        </b-button> -->
      </div>
    </b-card>
  </div>
  <div v-else>
    <b-card class="shadow-none">
      <b-row>
        <b-col class="col-6">
          <div class="p-5">
            <h1 class="mb-5 font-weight-bold">
              Your Cart is Empty
            </h1>
            <b-button
              variant="primary"
              to="/shop"
              size="lg"
            >
              Continue Shopping
            </b-button>
          </div>
        </b-col>
        <b-col class="col-6 d-sm-none d-md-block">
          <img
            class="img-fluid"
            :src="emptyCartImg"
            alt="Empty Cart"
            width="300px"
          >
        </b-col>
      </b-row>
    </b-card>
  </div>

</template>

<script>
/* eslint-disable vue/no-unused-components */
import {
  BRow, BCol, BCard, BCardBody, BLink, BImg, BButton, BBadge, BFormSpinbutton,
} from 'bootstrap-vue'
import store from '@/store'
import { ref } from '@vue/composition-api'
import { formatDate } from '@core/utils/filter'
import data from '@/data/products'
import { useEcommerce, useEcommerceUi } from '../useEcommerce'

export default {
  components: {
    BRow, BCol, BCard, BCardBody, BLink, BImg, BButton, BBadge, BFormSpinbutton,
  },
  setup() {
    const products = ref([])

    const { toggleProductInWishlist } = useEcommerceUi()
    const { removeProductFromCart } = useEcommerce()
    const removeProductFromCartClick = _cartItemId => {
      removeProductFromCart({ _cartItemId })
        .then(res => {
          // const productIndex = products.value.findIndex(p => p.id === product.id)
          // products.value.splice(productIndex, 1)

          store.commit('checkout/DELETE_CART_ITEM', res.data.data)
        })
    }

    const fetchCartProducts = _userId => {
      store.dispatch('checkout/fetchCartProducts', { _userId })
        .then(response => {
          products.value = response.data.data
        })
    }
    fetchCartProducts(store.state.auth.user._id)

    return {
      data,
      products,

      emptyCartImg: require('@/assets/images/pages/empty-cart.svg'),

      // UI
      toggleProductInWishlist,
      removeProductFromCartClick,

      // Filter
      formatDate,
    }
  },
  computed: {
    userData() {
      return this.$store.state.auth.user
    },
  },
  methods: {
    getProductById(_productId) {
      const pId = Number(_productId)

      const productIndex = data.products.findIndex(p => p.id === pId)
      const product = data.products[productIndex]

      return product
    },
  },
}
</script>

<style>

</style>
