// ================================================================================================
//  File Name: ext-component-media-player.scss
//  Description: Media Player SCSS.
//  ----------------------------------------------------------------------------------------------
//  Item Name: Srajan Gupta - Personal UI Kit
//  Author: Srajan Gupta
//  Author URL: https://srajangupta.com/
// ================================================================================================

// to remove outline on focus
.audio-player {
  &:focus {
    outline: 0;
  }
}
.plyr__controls {
  justify-content: flex-start;
}
.plyr__progress {
  flex-grow: 1;
}
