<template>
  <layout-vertical>

    <router-view />

    <template #navbar="{ toggleVerticalMenuActive }">
      <navbar
        :toggle-vertical-menu-active="toggleVerticalMenuActive"
      />
    </template>

    <!-- <app-customizer
      v-if="showCustomizer"
      slot="customizer"
    /> -->
  </layout-vertical>
</template>

<script>
import LayoutVertical from '@core/layouts/layout-vertical/LayoutVertical.vue'
// import AppCustomizer from '@core/layouts/components/app-customizer/AppCustomizer.vue'
// import { $themeConfig } from '@themeConfig'
import Navbar from '../components/Navbar.vue'

export default {
  components: {
    // AppCustomizer,
    LayoutVertical,
    Navbar,
  },
  data() {
    return {
      // showCustomizer: $themeConfig.layout.customizer,
    }
  },
  computed: {
    routeName() {
      return this.$route.name
    },
    userData() {
      return this.$store.state.auth.user
    },
  },
  created() {
    // Set `appConfig` when page/SFC is created
    this.$store.commit('appConfig/UPDATE_NAV_MENU_HIDDEN', true)

    this.$store.dispatch('checkout/fetchCartProducts', { _userId: this.userData._id }).catch(err => { throw err })
  },
  destroyed() {
    // Restore the state value of `appConfig` when page/SFC is destroyed
    // this.$store.commit('appConfig/UPDATE_NAV_MENU_HIDDEN', this.menuHidden)
  },
}
</script>
