<template>
  <div>
    <img
      :src="logo"
      alt="Ecommerce App | Squareboat"
    >
  </div>
</template>

<script>
export default {
  data() {
    return {
      logo: require('@/assets/images/logo/squareboat-logo.png'),
    }
  },
}
</script>

<style scoped>
img {
  width: 150px;
  height: auto;
}
</style>
