<template>
  <div />
</template>

<script>
export default {
  created() {
    // Set `appConfig` when page/SFC is created
    this.$store.commit('appConfig/UPDATE_NAV_MENU_HIDDEN', true)

    this.$router.push({ name: 'app-shop' })
  },
}
</script>

<style>

</style>
