<template>
  <!-- Order confirmation page-->
  <div class="misc-wrapper">
    <div class="misc-inner p-2 p-sm-3">
      <div class="w-100 text-center">
        <h2 class="mb-1">
          You Order is Confirmed
        </h2>
        <p class="mb-2">
          Order Reference ID: {{ $route.params.orderReferenceId }}
        </p>

        <b-button
          variant="primary"
          class="mb-2 btn-sm-block"
          :to="{path:'/shop'}"
        >
          Continue Shopping
        </b-button>

        <!-- image -->
        <b-img
          fluid
          :src="imgUrl"
          alt="Order Confirmation"
          width="500px"
        />
      </div>
    </div>
  </div>
<!-- / Error page-->
</template>

<script>
/* eslint-disable global-require */
import { BButton, BImg } from 'bootstrap-vue'
// import store from '@/store/index'

export default {
  components: {
    BButton,
    BImg,
  },
  data() {
    return {
      imgUrl: require('@/assets/images/pages/order-confirmation.svg'),
    }
  },
}
</script>

<style lang="scss">
@import '@core/scss/vue/pages/page-misc.scss';
</style>
