// ================================================================================================
//     File Name: leaflet.scss
//     Description: Leaflet map custom scss
//     ----------------------------------------------------------------------------------------------
//     Item Name: Srajan Gupta - Personal UI Kit
//     Author: Srajan Gupta
//     Author URL: https://srajangupta.com/
// ================================================================================================

.leaflet-map {
  height: 400px;
  z-index: 1;
}

html[data-textdirection='rtl'] {
  .leaflet-map {
    .leaflet-control-container {
      .leaflet-left {
        left: 0;
        right: unset;
        .leaflet-control-zoom,
        .leaflet-control-layers {
          margin-right: 0;
          margin-left: 10px;
        }
      }
      .leaflet-right {
        right: 0;
        left: unset;
        .leaflet-control-zoom,
        .leaflet-control-layers {
          margin-right: 10px;
          margin-left: 0px;
        }
      }
    }
  }
}
