// ================================================================================================
//     File Name: type.scss
//     Description: Type pages custom scss
//     ----------------------------------------------------------------------------------------------
//     Item Name: Srajan Gupta - Personal UI Kit
//     Author: Srajan Gupta
//     Author URL: https://srajangupta.com/
// ================================================================================================

// text heading color
.text-body-heading {
  color: $headings-color;
  &:hover {
    color: inherit !important;
  }
}
// text body hover color if have link
.text-body {
  &[href]:hover {
    color: $link-hover-color !important;
  }
}
