<template>
  <div class="auth-wrapper auth-v2">
    <b-row class="auth-inner m-0">

      <!-- Brand logo-->
      <b-link class="brand-logo">
        <app-logo />

        <!-- <h2 class="brand-text text-primary ml-1">
          App
        </h2> -->
      </b-link>
      <!-- /Brand logo-->

      <!-- Left Text-->
      <b-col
        lg="8"
        class="d-none d-lg-flex align-items-center"
      >
        <div class="w-100 d-lg-flex align-items-center justify-content-center px-5">
          <b-img
            fluid
            :src="imgUrl"
            alt="Squareboat Login"
            class="register-banner"
          />
        </div>
      </b-col>
      <!-- /Left Text-->

      <!-- Register-->
      <b-col
        lg="4"
        class="d-flex align-items-center auth-bg px-2 p-lg-5"
      >
        <b-col
          sm="8"
          md="6"
          lg="12"
          class="px-xl-2 mx-auto"
        >
          <h1
            v-if="!otpSent"
            class="mb-1"
          >
            Login or Signup
          </h1>
          <h1
            v-else
            class="mb-1"
          >
            Enter OTP
          </h1>
          <b-card-text
            v-if="!otpSent"
            class="mb-2"
          >
            Enter you Email-id to receive OTP
          </b-card-text>
          <b-card-text
            v-else
            class="mb-2"
          >
            We sent you an OTP. Please check your inbox.
          </b-card-text>

          <!-- form -->
          <validation-observer
            ref="registerForm"
            #default="{invalid}"
          >
            <b-form
              v-if="!otpSent"
              class="auth-register-form mt-2"
              @submit.prevent="sendOTP"
            >
              <!-- email -->

              <b-form-group
                class="mb-1"
                label="Email"
                label-for="register-email"
              >
                <validation-provider
                  v-if="!otpSent"
                  #default="{ errors }"
                  name="Email"
                  vid="email"
                  rules="required|email"
                >
                  <b-form-input
                    id="register-email"
                    v-model="userEmail"
                    name="register-email"
                    :state="errors.length > 0 ? false:null"
                    placeholder="Enter Email"
                  />
                  <small class="text-danger">{{ errors[0] }}</small>
                </validation-provider>
              </b-form-group>

              <b-form-group class="mb-4">
                <b-form-checkbox
                  id="register-privacy-policy"
                  v-model="status"
                  name="checkbox-1"
                >
                  I agree to
                  <b-link>privacy policy & terms</b-link>
                </b-form-checkbox>
              </b-form-group>

              <b-button
                variant="primary"
                block
                type="submit"
                size="lg"
                :disabled="invalid"
              >
                Login
              </b-button>

            </b-form>

            <b-form
              v-else
              class="auth-register-form mt-2"
              @submit.prevent="verifyOTP"
            >
              <b-form-group
                class="mb-1"
                label="OTP"
                label-for="register-otp"
              >
                <validation-provider
                  v-if="otpSent"
                  #default="{ errors }"
                  name="OTP"
                  vid="otp"
                  rules="required"
                >
                  <b-form-input
                    id="register-otp"
                    v-model="userOTP"
                    name="register-otp"
                    :state="errors.length > 0 ? false:null"
                  />
                  <small class="text-danger">{{ errors[0] }}</small>
                </validation-provider>
              </b-form-group>

              <div
                v-if="!otpCountDown"
                class="mb-5"
              >
                <span
                  class="text-primary cursor-pointer"
                  @click.prevent="sendOTP"
                >Resend OTP</span>
              </div>
              <div
                v-else
                class="mb-5"
              >
                <span
                  v-if="otpCountDown > 9"
                >Resend OTP after 00:{{ otpCountDown }} seconds</span>
                <span
                  v-else
                >Resend OTP after 00:0{{ otpCountDown }} seconds</span>
              </div>

              <b-button
                variant="primary"
                block
                type="submit"
                size="lg"
                :disabled="invalid"
              >
                Verify OTP
              </b-button>
            </b-form>
          </validation-observer>

          <!-- <p class="text-center mt-2">
            <span>Already have an account?</span>
            <b-link :to="{name:'auth-login'}">
              <span>&nbsp;Sign in instead</span>
            </b-link>
          </p> -->
        </b-col>
      </b-col>
    <!-- /Register-->
    </b-row>
  </div>
</template>

<script>
/* eslint-disable global-require */
import { ValidationProvider, ValidationObserver } from 'vee-validate'
import AppLogo from '@core/layouts/components/Logo.vue'
import {
  BRow, BCol, BLink, BButton, BForm, BFormCheckbox, BFormGroup, BFormInput, BImg, BCardText,
} from 'bootstrap-vue'
import {
  required, email,
} from '@validations'
import { togglePasswordVisibility } from '@core/mixins/ui/forms'
import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'
import store from '@/store/index'
import useJwt from '@/auth/jwt/useJwt'

export default {
  components: {
    AppLogo,
    BRow,
    BImg,
    BCol,
    BLink,
    BButton,
    BForm,
    BCardText,
    // BCardTitle,
    BFormCheckbox,
    BFormGroup,
    BFormInput,
    // validations
    ValidationProvider,
    ValidationObserver,
  },
  mixins: [togglePasswordVisibility],
  data() {
    return {
      status: '',
      userEmail: '',
      userOTP: '',
      otpSent: false,
      otpCountDown: 59,
      sideImg: require('@/assets/images/pages/register/register-banner.svg'),
      // validation
      required,
      email,
    }
  },
  computed: {
    passwordToggleIcon() {
      return this.passwordFieldType === 'password' ? 'EyeIcon' : 'EyeOffIcon'
    },
    imgUrl() {
      if (store.state.appConfig.layout.skin === 'dark') {
        // eslint-disable-next-line vue/no-side-effects-in-computed-properties
        this.sideImg = require('@/assets/images/pages/register-v2-dark.svg')
        return this.sideImg
      }
      return this.sideImg
    },
  },
  methods: {
    /* register() {
      this.$refs.registerForm.validate().then(success => {
        if (success) {
          useJwt.register({
            yourname: this.yourname,
            email: this.userEmail,
            password: this.password,
          })
            .then(response => {
              useJwt.setToken(response.data.accessToken)
              useJwt.setRefreshToken(response.data.refreshToken)
              localStorage.setItem('userData', JSON.stringify(response.data.userData))
              this.$ability.update(response.data.userData.ability)
              this.$router.push('/')
            })
            .catch(error => {
              this.$refs.registerForm.setErrors(error.response.data.error)
            })
        }
      })
    }, */
    otpTimer() {
      if (this.otpCountDown > 0) {
        setTimeout(() => {
          this.otpCountDown -= 1
          this.otpTimer()
        }, 1000)
      }
    },
    sendOTP() {
      const payload = {
        email: this.userEmail,
      }

      this.$store.dispatch('auth/sendOTP', payload).then(() => {
        this.otpSent = true
        this.otpCountDown = 59
        this.otpTimer()

        this.$toast({
          component: ToastificationContent,
          position: 'top-right',
          props: {
            title: 'OTP Sent',
            icon: 'TickIcon',
            variant: 'success',
            text: 'We sent you an OTP',
          },
        })
      }).catch(err => {
        throw err
      })
    },
    verifyOTP() {
      useJwt.login({
        email: this.userEmail,
        otp: this.userOTP,
      })
        .then(response => {
          const { user } = response.data

          // Setting access token in localStorage
          useJwt.setToken(response.data.token)

          // Setting refresh token in localStorage
          // useJwt.setRefreshToken(response.data.refreshToken)

          // Setting user data in localStorage
          localStorage.setItem('userData', JSON.stringify(user))

          // Redirect to shop
          window.location.href = '/shop'
        })
        .catch(error => {
          this.$toast({
            component: ToastificationContent,
            position: 'top-right',
            props: {
              title: 'Invalid OTP',
              icon: 'WarningIcon',
              variant: 'danger',
              text: 'Incorrect OTP',
            },
          })

          throw error
        })
    },
  },
}
/* eslint-disable global-require */
</script>

<style lang="scss">
@import '@core/scss/vue/pages/page-auth.scss';

.register-banner {
    height: 700px;
}
</style>
